<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="Python Start-in" path="*.py" verb="*" modules="CgiModule" scriptProcessor="C:\Program Files (x86)\Microsoft Visual Studio\Shared\Python39_64\python.exe |D:\Adithya_Workspace\python\project_env\Lib\site-packages\wfastcgi.py" resourceType="File" requireAccess="Script" />
        </handlers>
    </system.webServer>
</configuration>
